body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #2c3e50;
}

input[type="text"] {
  width: 300px;
  padding: 10px 40px 10px 15px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

input[type="text"]::placeholder {
  color: #aaa;
}

input + button {
  color: #fff;
  background-color: transparent;
  border: none;
}

button:hover {
  background-color: #e74c3c;
  cursor: pointer;
}

.icon-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  background-color: re;
  color: white;
  border-radius: 50%;
}

table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #3498db;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}

td {
  font-size: 16px;
}

thead th {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.MuiPagination-root {
  margin: 20px auto;
}

.MuiPagination-ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

.MuiPaginationItem-page {
  font-size: 1rem;
  font-weight: 600;
}

.Mui-selected {
  background-color: #3498db !important;
  color: white !important;
}

.MuiIconButton-root {
  color: #2c3e50;
  transition: all 0.3s ease;
}

.MuiIconButton-root:hover {
  color: black;
}
